<h1 mat-dialog-title>Olá, você finalizou o jogo!</h1>
<div mat-dialog-content>
  <p>Iremos salvar seu score para o nosso ranking!</p>
  <form [formGroup]="newScore" (ngSubmit)="submit()">
    <mat-form-field class="full-width">
      <input matInput placeholder="Qual é o seu nome?" formControlName="nome" class="full-width">
      <mat-error>
        <div *ngIf="newScore.controls['nome'].hasError('required')">
          Este campo é obrigatório
        </div>
        <div *ngIf="newScore.controls['nome'].hasError('maxlength')">
          Quantidade máxima de caracteres ultrapassada. max: 30
        </div>
        <br>
      </mat-error>
    </mat-form-field>
    <ngx-recaptcha2
      [siteKey]="siteKey"
      [theme]="'dark'"
      type="image"
      hl="pt-br"
      formControlName="captcha">
    </ngx-recaptcha2>
    <br>
    <button mat-raised-button type="submit" [disabled]="!newScore.valid">Salvar</button>
  </form>
</div>
