<h1 mat-dialog-title>Confirmação</h1>
<mat-dialog-content>
  <p>Deseja constinuar com esta ação?</p>
  <mat-dialog-actions>
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button [mat-dialog-close]="true">Ok</button>
  </mat-dialog-actions>
</mat-dialog-content>
