<mat-card>
  <mat-card-header>
    <mat-card-title>
      {{ titulo }}
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="scroll-da-massa">
      <mat-action-list>
        <sj-emprestimo-item *ngFor="let emprestimo of emprestimos" [emprestimo]="emprestimo"></sj-emprestimo-item>
      </mat-action-list>
    </div>
    <ng-content></ng-content>
  </mat-card-content>
</mat-card>
