<sj-card-default
  avatarImg="/assets/medikit_avatar.png"
  [title]="modulo?.nome"
  subtitle="Módulo"
>
  <mat-card-content>
    <mat-list>
      <mat-list-item>
        <mat-icon mat-list-icon>memory</mat-icon>
        <h4 matLine class="mat-h4 row">Tecnologia: <b>{{ modulo?.tecnologia | uppercase }}</b></h4>
        <mat-progress-bar matLine mode="determinate" [value]="getBarValue(modulo?.tecnologia)"></mat-progress-bar>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon>airline_seat_individual_suite</mat-icon>
        <h4 matLine class="mat-h4">Conforto: <b>{{ modulo?.conforto | uppercase }}</b></h4>
        <mat-progress-bar matLine mode="determinate" [value]="getBarValue(modulo?.conforto)"></mat-progress-bar>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon>people</mat-icon>
        <h4 matLine class="mat-h4">Capacidade: <b>{{ modulo?.capacidade}}</b></h4>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon>attach_money</mat-icon>
        <h4 matLine class="mat-h4">Mensal: <b>{{ modulo?.custo_por_mes | brMoney }}</b></h4>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon>attach_money</mat-icon>
        <h4 matLine class="mat-h4">Tratamento: <b>{{ modulo?.preco_do_tratamento | brMoney }}</b></h4>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
  <div class="spacer"></div>
  <mat-card-actions>
    <ng-container *ngIf="isMine; else notmine">
      <button mat-raised-button color="primary" class="full-width" (click)="sellModule(modulo.id)" [disabled]="!canSell()">
        Vender {{ (modulo.custo_aquisicao * (config.porcentagem_reembolso_modulo / 100)) | brMoney }}
      </button>
    </ng-container>
    <ng-template #notmine>
      <button mat-raised-button color="primary" class="full-width" (click)="buyModule(modulo.id)"
              [disabled]="(money < modulo.custo_aquisicao)">
        {{ modulo.custo_aquisicao | brMoney }}
      </button>
    </ng-template>
  </mat-card-actions>
</sj-card-default>
