<mat-grid-list [cols]="(isHandset$ | async) ? 1 : 3" rowHeight="460">
  <mat-grid-tile @items *ngFor="let medico of medicos">
    <sj-medico-card
      [isMine]="isMine"
      [medico]="medico"
    ></sj-medico-card>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="(isHandset$ | async) ? 1 : 3" *ngIf="!medicos || !medicos.length">
    <div class="spacer"></div>
    <p @items>Nenhum médico encontrado.</p>
    <div class="spacer"></div>
  </mat-grid-tile>
</mat-grid-list>
