<mat-grid-list [cols]="(isHandset$ | async) ? 1 : 2" rowHeight="16:1">
  <mat-grid-tile [colspan]="(isHandset$ | async) ? 1 : 2" rowspan="16" *ngIf="isPrimeiroMes(); else charts">
    <div class="spacer"></div>
    <p>Nenhuma estatística pode ser obtida no primeiro mês.</p>
    <div class="spacer"></div>
  </mat-grid-tile>
  <ng-template #charts>
    <mat-grid-tile colspan="1" [rowspan]="(isHandset$ | async) ? 11 : 10">
      <sj-all-charts header="Dinheiro no Final do Mês" class="full">
        <sj-money-per-month-chart></sj-money-per-month-chart>
      </sj-all-charts>
    </mat-grid-tile>

    <mat-grid-tile colspan="1" [rowspan]="(isHandset$ | async) ? 11 : 10">
      <sj-all-charts header="Lucro em Cada Mês" class="full">
        <sj-lucro-per-month-chart></sj-lucro-per-month-chart>
      </sj-all-charts>
    </mat-grid-tile>

    <mat-grid-tile colspan="1" [rowspan]="(isHandset$ | async) ? 24 : 13">
      <sj-all-charts header="Relação Atendimento/Demanda no Último Mês" class="full">
        <sj-demanda-atendimento-tabela></sj-demanda-atendimento-tabela>
      </sj-all-charts>
    </mat-grid-tile>

    <mat-grid-tile colspan="1" [rowspan]="(isHandset$ | async) ? 11 : 10">
      <sj-all-charts header="Preço Médio de Atendimento por Área" class="full">
        <sj-preco-medio-tratamento-chart></sj-preco-medio-tratamento-chart>
      </sj-all-charts>
    </mat-grid-tile>

    <mat-grid-tile colspan="1" [rowspan]="(isHandset$ | async) ? 11 : 10">
      <sj-all-charts header="Lucro por Área" class="full">
        <sj-lucro-por-modulo-chart></sj-lucro-por-modulo-chart>
      </sj-all-charts>
    </mat-grid-tile>

  </ng-template>
</mat-grid-list>

