<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
               [disableClose]="!(isHandset$ | async)"
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="!(isHandset$ | async)">
    <div class="img back-primary">
      <img mat-card-lg-image src="/assets/hospital-152x152.png">
    </div>
    <mat-chip-list>
      <mat-chip class="centered">
        {{ money | brMoney }}
      </mat-chip>
    </mat-chip-list>
    <mat-nav-list>
      <a mat-list-item
         routerLink="/game/"
         routerLinkActive="active"
         [routerLinkActiveOptions]="{exact: true}"
      >
        <mat-icon mat-list-icon>assessment</mat-icon>
        Estatísticas</a>

      <span class="mat-caption">Mercado</span>

      <a mat-list-item
         routerLink="/game/contratar-medicos"
         routerLinkActive="active"
         [routerLinkActiveOptions]="{exact: true}"
         [ngClass]="{ 'disabled': finished }"
         [disableRipple]="finished"
      >
        <mat-icon mat-list-icon>person</mat-icon>
        Contratar Médicos</a>

      <a mat-list-item
         routerLink="/game/comprar-modulos"
         routerLinkActive="active"
         [routerLinkActiveOptions]="{exact: true}"
         [ngClass]="{ 'disabled': finished }"
         [disableRipple]="finished"
      >
        <mat-icon mat-list-icon>memory</mat-icon>
        Comprar Módulos
      </a>

      <a mat-list-item
         routerLink="/game/fazer-emprestimo"
         routerLinkActive="active"
         [routerLinkActiveOptions]="{exact: true}"
         [ngClass]="{ 'disabled': finished }"
         [disableRipple]="finished"
      >
        <mat-icon mat-list-icon>attach_money</mat-icon>
        Fazer Emprestimos</a>
      <mat-divider></mat-divider>
      <span class="mat-caption">Meu Hospital</span>

      <a mat-list-item
         routerLink="/game/meus-medicos"
         routerLinkActive="active"
         [routerLinkActiveOptions]="{exact: true}"
         [ngClass]="{ 'disabled': finished }"
         [disableRipple]="finished"
      >
        <mat-icon mat-list-icon>person</mat-icon>
        Meus Médicos</a>

      <a mat-list-item
         routerLink="/game/meus-modulos"
         routerLinkActive="active"
         [routerLinkActiveOptions]="{exact: true}"
         [ngClass]="{ 'disabled': finished }"
         [disableRipple]="finished"
      >
        <mat-icon mat-list-icon>memory</mat-icon>
        Meus Módulos</a>

      <a mat-list-item
         routerLink="/game/meus-emprestimos"
         routerLinkActive="active"
         [routerLinkActiveOptions]="{exact: true}"
         [ngClass]="{ 'disabled': finished }"
         [disableRipple]="finished"
      >
        <mat-icon mat-list-icon>attach_money</mat-icon>
        Meus Emprestimos</a>
      <mat-divider></mat-divider>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Saúde em Jogo</span>
    </mat-toolbar>
    <ng-content>

    </ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
