.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 1;
}

img {
  display: block;
  margin: auto;
  border-radius: 100%;
}

.img {
  padding: 10px;
  background-color: rgba(255,255,255,.05);
}
a.mat-list-item {
  margin-right: 6px;
  width: auto;
  border-radius: 0 21px 21px 0;
  overflow: hidden;
  height: 42px !important;
}

span {
  padding-left: 32px;
}

.mat-divider {
  margin-top: 5px;
  margin-bottom: 5px;
}

.active {
  background-color: rgba(255,255,255,.04);
}

mat-sidenav-content {
  overflow-x: hidden !important;
}

mat-sidenav {
  overflow-x: hidden !important;
}

.centered {
  margin: auto !important;
  margin-top: 6px !important;
}

.disabled {
  color: rgba(255,255,255,0.5);
}
.disabled:hover {
  cursor: default;
  background-color: inherit !important;
}
