<body>
<div>
  <mat-toolbar color="primary">

    <b>(PET BCC + PET PROD)</b>

    <button mat-icon-button [mat-menu-trigger-for]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
  </mat-toolbar>
  <mat-menu #menu="matMenu">
  </mat-menu>
  <mat-card>
    <mat-card-content color="primary">
      <mat-card-title><h1>Saúde em Jogo</h1></mat-card-title>
      <p>A lot of things happen during a normal hospital service. Take care of all the poor patients and send them to the right treatment. The upperfloor of the hospital will be unlocked in the later levels of this great time management game for girls.</p>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-content color="primary">
      <mat-card-title><h1>Explicações</h1></mat-card-title>
      <p>Clique nos botões e veja seu dinheiro subir!</p>
    </mat-card-content>
  </mat-card>
  <span class="done">
    <button mat-fab color="primary" routerLink="/game">
      <mat-icon>play_arrow</mat-icon>
    </button>
  </span>
</div>
</body>
