<mat-card id="charts">
  <mat-card-header>
    <mat-card-title>
      {{ header }}
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <ng-content></ng-content>
  </mat-card-content>
</mat-card>
