<sj-card-default
  avatarImg="/assets/medico_avatar.png"
  [title]="medico?.nome"
  subtitle="Medico"
>
  <mat-card-content>
    <mat-list>
      <mat-list-item>
        <mat-icon mat-list-icon>school</mat-icon>
        <h4 matLine class="mat-h4 row">Expertise: <b>{{ medico?.expertise | uppercase }}</b></h4>
        <mat-progress-bar matLine mode="determinate" [value]="getBarValue(medico?.expertise)"></mat-progress-bar>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon>people</mat-icon>
        <h4 matLine class="mat-h4">Atendimento: <b>{{ medico?.atendimento | uppercase }}</b></h4>
        <mat-progress-bar matLine mode="determinate" [value]="getBarValue(medico?.atendimento)"></mat-progress-bar>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon>alarm</mat-icon>
        <h4 matLine class="mat-h4">Pontualidade: <b>{{ medico?.pontualidade | uppercase }}</b></h4>
        <mat-progress-bar matLine mode="determinate" [value]="getBarValue(medico?.pontualidade)"></mat-progress-bar>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon>attach_money</mat-icon>
        <h4 matLine class="mat-h4">Salário: <b>{{ medico?.salario | brMoney }}</b></h4>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
  <div class="spacer"></div>
  <mat-card-actions>
    <ng-container *ngIf="isMine; else notmine">
      <button mat-raised-button color="primary" class="full-width"
              (click)="toDismissMedico(medico?.id)"
              [disabled]="canDismiss()">Demitir</button>
    </ng-container>
    <ng-template #notmine>
      <button mat-raised-button color="primary" class="full-width" (click)="toContractMedico(medico?.id)">Contratar</button>
    </ng-template>
  </mat-card-actions>
</sj-card-default>
