.count {
  padding: 4px 16px;
  background-color: #212121;
  border-radius: 6px;
  margin-top: 6px;
  font-size: 16px;
  text-align: center;
}

.counter {
  position: sticky;
  top: 64px;
  z-index: 1;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  display: flex;
  height: 100vh;
  width: 100%;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  background-color: rgba(0,0,0,.9);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}
.loader > div {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}
.loader > div > div {
  display: flex;
  flex-direction: column;
  animation: popup 2s ease-in-out infinite;
}

@-webkit-keyframes popup {
  0% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(0.9);
  }
}

@keyframes popup {
  0% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(0.9);
  }
}

mat-spinner {
  margin: auto;
}
