<div class="loader" *ngIf="!jogo_pronto">
  <div>
    <div>
      <mat-spinner></mat-spinner>
      <h1 class="mat-h1">Iniciando Game</h1>
    </div>
  </div>
</div>
<sj-nav>
  <div class="row counter" *ngIf="!finished">
    <div class="spacer"></div>
    <div class="count" *ngIf="jogo_pronto">
      Mês {{ month }}<br>
      <countdown
        [config]="{ leftTime: tempo_rodada }"
        (finished)="onFinish()"
        (event)="onEvent($event)"
      >$!m!:$!s!
      </countdown>
    </div>
    <div class="spacer"></div>
  </div>
  <router-outlet></router-outlet>
</sj-nav>
