/* You can add global styles to this file, and also import other style files */
// @import "~@angular/material/prebuilt-themes/purple-green.css";
@import 'theme-zicao';
@import '~@angular/material/theming';

@include mat-core();
$primary: mat-palette($mat-amber);
$accent: mat-palette($mat-teal);
$theme: mat-dark-theme($primary, $accent);
@include angular-material-theme($theme);
@include game-theme($theme);

html, body, .app-frame {
  overflow: hidden;
  margin: 0;
  height: 100%;
  color: #e0e0e0;
}

.full-width {
  width: 100%;
}

.spacer {
  flex: 1 1 auto;
}

.row {
  display: flex;
  flex-direction: row;
}
.mat-list-item > div.mat-list-item-content {
  padding: 0 !important;
}

div.mat-chip-list-wrapper {
  width: 200px;
}
