<mat-grid-list [cols]="(isHandset$ | async) ? 1 : 3" [rowHeight]="495">
  <mat-grid-tile @items *ngFor="let modulo of modulos">
    <sj-modulo-card
      [isMine]="isMine"
      [modulo]="modulo"
    ></sj-modulo-card>
  </mat-grid-tile>
  <mat-grid-tile *ngIf="!modulos || !modulos.length" [colspan]="(isHandset$ | async) ? 1 : 3">
    <div class="spacer"></div>
    <p @items>Nenhum módulo encontrado.</p>
    <div class="spacer"></div>
  </mat-grid-tile>
</mat-grid-list>
