<mat-card class="mat-elevation-z8">
  <mat-card-header>
    <img mat-card-avatar [src]="avatarImg" alt="avatar-image">
    <mat-card-title>{{ title }}</mat-card-title>
    <mat-card-subtitle>{{ subtitle }}</mat-card-subtitle>
  </mat-card-header>
  <ng-content>

  </ng-content>
</mat-card>
