<button mat-list-item (click)="makeEmprestimo(emprestimo.valor)" [disabled]="emprestimo.disable">
  <div [class]="(emprestimo.disable) ? 'disabled' : ''">
    {{ emprestimo.valor | brMoney }}
  </div>
</button>
