<mat-form-field class="full-width">
  <mat-label>Área</mat-label>
  <mat-select class="full-width" [(value)]="curSource">
    <mat-option value="card">Cardiologia</mat-option>
    <mat-option value="emerg">Emergência</mat-option>
    <mat-option value="psico">Psicologia</mat-option>
    <mat-option value="neuro">Neurologia</mat-option>
    <mat-option value="pedi">Pediatria</mat-option>
  </mat-select>
</mat-form-field>

<table mat-table [dataSource]="dataSources[curSource]" class="mat-elevation-z8 full-width">
  <ng-container matColumnDef="classe_social">
    <th mat-header-cell *matHeaderCellDef>Classe Social</th>
    <td mat-cell *matCellDef="let element"> {{element.classe_social}} </td>
  </ng-container>

  <ng-container matColumnDef="atendidos">
    <th mat-header-cell *matHeaderCellDef>Atendidos</th>
    <td mat-cell *matCellDef="let element"> {{element.atendidos}} </td>
  </ng-container>

  <ng-container matColumnDef="demanda">
    <th mat-header-cell *matHeaderCellDef>Demanda</th>
    <td mat-cell *matCellDef="let element"> {{element.demanda}} </td>
  </ng-container>

  <ng-container matColumnDef="porcentagem">
    <th mat-header-cell *matHeaderCellDef>%</th>
    <td mat-cell *matCellDef="let element"> {{element.porcentagem}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
